/* src/components/Auth/Login.css */
.login-bg {
  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;
}

.login-container {
  max-width: 4xl;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.login-side {
  background-color: #38b2ac; /* bg-teal-700 */
  color: white;
}

.login-logo {
  width: 128px; /* w-32 */
  margin-bottom: 20px; /* mb-5 */
}
