@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

/* Tailwind CSS Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans; /* Asegúrate de que font-sans se aplica aquí */
}
